In [1]:
import numpy as np
import pandas as pd

In [2]:
SR1 = pd.read_csv("../../../data/original/hakeem_SR_SR1_A2_NS3-1073.csv.gz")
SR2 = pd.read_csv("../../../data/original/hakeem_SR_SR2_B27_NS5B-2841.csv.gz")
SR3 = pd.read_csv("../../../data/original/hakeem_SR_SR3_B27_NS5B-2841.csv.gz")
CI2 = pd.read_csv("../../../data/original/hakeem_SR_CI2_A2_NS3-1073.csv.gz")
CI3 = pd.read_csv("../../../data/original/hakeem_SR_CI3_A1_NS3_1436.csv.gz")

SR1

In [3]:
SR1.sample(5)

     TRBV             CDR3   TRBJ  Freq. (%)  Count
34     20  CSAPGPGVSVEKLFF  01-04       2.50   1660
39  04-03  CASSQEQGAPGELFF  02-02       1.77   1174
23  06-01  CASSDPLAGGNEQYF  02-07      11.68   7771
72  14-01    CASSRGPDTEAFF  01-01       1.69   8569
10     12    CASSLSGTGELFF  02-02       2.66   1769

In [4]:
SR1["Patient"] = "SR1"
SR1["HLA"] = "A2"
SR1["Peptide"] = "CINGVCWTV"

In [5]:
SR1 = SR1[["TRBV", "CDR3", "TRBJ", "Patient", "HLA", "Peptide"]]

SR2

In [6]:
SR2.sample(5)

     TRBV                 CDR3   TRBJ  Freq. (%)  Count
12      6        CASALRGANVLTF  02-06       1.07    404
9       6       CASSIDKLNTEAFF  01-01       1.22    464
19  10-02        CASSDAYNEKLFF  01-04       1.02    625
11  04-01  CASSQVHLGQSTLNTEAFF  01-01       1.12    425
14  19-01       CASSTKQGWYEQYF  02-07      81.88  68836

In [7]:
SR2["Patient"] = "SR2"
SR2["HLA"] = "B27"
SR2["Peptide"] = "ARMILMTHF"

In [8]:
SR2 = SR2[["TRBV", "CDR3", "TRBJ", "Patient", "HLA", "Peptide"]]

SR3

In [9]:
SR3.sample(5)

     TRBV               CDR3   TRBJ  Freq. (%)  Count
68  05-01    CASSPGTTNTGELFF  02-02       1.36   1251
3     NaN    CASSIVGHMNTEAFF  01-01       6.06  10549
7     NaN    CASSIVGHLNTEAFF  01-01       3.87   6737
51  04-03  CASSRARGSTEVREQFF  02-01       1.17   1427
58  19-01    CASSIVGHLNTEAFF  01-01       4.23   3898

In [10]:
SR3["Patient"] = "SR3"
SR3["HLA"] = "B27"
SR3["Peptide"] = "ARMILMTHF"

In [11]:
SR3 = SR3[["CDR3", "TRBJ", "Patient", "HLA", "Peptide"]]

CI2

In [12]:
CI2.sample(5)

     TRBV                CDR3   TRBJ  Freq. (%)  Count
41  02-01  CASRDVVGRLSSYNEQFF  02-01       1.22   3123
11  04-02        CASSQQGEKLFF  01-04       1.24   3912
15  05-04   CASSLPQGRYMNTEAFF  01-01       1.04   3286
21  07-09       CASLEEDTGELFF  02-02       2.68  12479
24     24       CANRDRGRDEQFF  02-01       1.31   6083

In [13]:
CI2["Patient"] = "CI2"
CI2["HLA"] = "A2"
CI2["Peptide"] = "CINGVCWTV"

In [14]:
CI2 = CI2[["TRBV", "CDR3", "TRBJ", "Patient", "HLA", "Peptide"]]

CI3

In [15]:
CI3.sample(5)

     TRBV             CDR3   TRBJ  Freq. (%)  Count
37  09-01  CASSPASSSFYEQYF  02-07       1.58    631
4   10-03   CAISESPQSYEQYF  02-07       2.30   1077
7   05-01    CASRGDTFYEQYF  02-07       2.17   1019
61  09-01  CASSPASSSFYEQYF  02-07       1.35    390
52  19-01  CASSIRDIGNQPQHF  01-05       2.31    668

In [16]:
CI3["Patient"] = "CI3"
CI3["HLA"] = "A1"
CI3["Peptide"] = "ATDALMTGY"

In [17]:
CI3 = CI3[["TRBV", "CDR3", "TRBJ", "Patient", "HLA", "Peptide"]]

In [18]:
result = pd.concat([SR1, SR2, SR3, CI2, CI3])

In [19]:
result

     TRBV              CDR3   TRBJ Patient HLA    Peptide
0   06-01   CASSDPLAGGNEQYF  02-07     SR1  A2  CINGVCWTV
1      20     CSAWTGSATEAFF  01-01     SR1  A2  CINGVCWTV
2   06-01  CASSEVVTAFSYEQYF  02-07     SR1  A2  CINGVCWTV
3   07-09      CASISSNQPQHF  01-05     SR1  A2  CINGVCWTV
4   04-02  CASSQLLAGGSYEQYF  02-07     SR1  A2  CINGVCWTV
..    ...               ...    ...     ...  ..        ...
61  09-01   CASSPASSSFYEQYF  02-07     CI3  A1  ATDALMTGY
62  10-03   CAISESAVGYNEQFF  02-01     CI3  A1  ATDALMTGY
63  06-01   CASSDTGTHIYEQYF  02-07     CI3  A1  ATDALMTGY
64  07-03   CASSSAPGQLETQYF  02-05     CI3  A1  ATDALMTGY
65  04-01   CASSQEGSDNQPQHF  01-05     CI3  A1  ATDALMTGY

[324 rows x 6 columns]

In [20]:
result = result.rename(columns={"Peptide":"peptide_seq", "HLA":"HLA_type", "Patient": "patient", "CDR3":"CDR3b"})

In [21]:
result["peptide_source"] = "HCV"
result["dataset"] = "Hakeem"
result["tcr_source_organism"] = "human"
result["tissue"] = "PBMC"
result["MHC_class"] = "I"
result["experiment_type"] = "tetramer-sort, ICS, TCR repertoire seq"

In [22]:
columns = ["peptide_seq", "HLA_type", "CDR3b", "TRBV", "TRBJ", "peptide_source", "tcr_source_organism", "tissue", "MHC_class", "experiment_type", "dataset"]

result = result.reindex(columns=columns)

In [23]:
result.to_csv("../../../data/processed/hakeem_input.csv.gz", index=False)